
<header>
    <% if logged_in? %>
        <script type="text/javascript">
            window.currentUser = <%= 
                render(
                    "api/users/user.json.jbuilder",
                    user: current_user
                ).html_safe %>
        </script>
    <% end %>



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</header>
    <script type="text/javascript">
        window.images = {
            splash_phone: "<%= image_url('splash_phone_img') %>",
            loading_spinner: "<%= image_url('5.gif') %>"
        }
    </script>
<main id="root"></main>

