$beer-yellow: #FFCC00;
$dark-yellow: #f4b800;
$beer-orange: #c60;
$beer-grey: #666;
$dark-grey: #4c4c4c;
$error-red: #bc3434;
$roboto-font: 'Roboto', sans-serif;
$raleway-font: 'Raleway-b', sans-serif;

@font-face {
    font-family: 'Raleway-b'; /*a name to be used later*/
    src: asset-url('Raleway-Bold.ttf'); /*URL to font*/
    src: asset-url('Raleway-Bold'), 
         asset-url('Raleway-Bold.ttf') format('truetype'),
         asset-url('Raleway-Bold.svg#font') format('svg');
}