$beer-yellow: #FFCC00;
$dark-yellow: #f4b800;
$beer-orange: #c60;
$beer-grey: #666;
$dark-grey: #4c4c4c;
$error-red: #bc3434;
$roboto-font: 'Roboto', sans-serif;

@font-face {
    font-family: 'raleway-b'; /*a name to be used later*/
    src: url('../../fonts/Raleway-Bold.ttf'); /*URL to font*/
}