$beer-yellow: #FFCC00;
$dark-yellow: #f4b800;
$beer-orange: #c60;
$beer-grey: #666;
$dark-grey: #4c4c4c;
$error-red: #E25858;
$error-pink: #ff9494;
$roboto-font: 'Roboto', sans-serif;
$raleway-font: 'Raleway-b', sans-serif;