
@font-face {
    font-family: 'Raleway-b'; /*a name to be used later*/
    src: asset-url('Raleway-Bold.ttf'); /*URL to font*/
    src: asset-url('Raleway-Bold'), 
         asset-url('Raleway-Bold.ttf') format('truetype'),
         asset-url('Raleway-Bold.svg#font') format('svg');
}

$main-font: 'Roboto', sans-serif;