 @import "../base/colors.scss";
 @import "../base/fonts.scss";

.beer-form-outer {
    display: flex;
    justify-content: center;
}

.beer-form-container {
    width: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    background-color: white;
    margin-top: 30px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1)
 }

 .beer-form-header {
   display: block;
   // width: 100%;
   font-family: $main-font;
   font-size: 20px;
   padding: 10px;
   text-align: left;
   width: 86%;
   font-weight: 700;
   margin-top: 20px;
 }

 .beer-form-header-sub {
   font-size: 16px;
   padding-top: 10px;
 }

.beer-form-label {
    font-family: $main-font;
    color: $beer-dtl-grey;
    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
 }

 .beer-form input {
   border: 1px solid $cc-grey;
   border-radius: 4px;
   padding: 6px 8px;
   display: block;
   color: black;
   background-color: white;
   font-size: 16px;
   margin-bottom: 10px;
 }

 .beer-form textarea {
    border: 1px solid $cc-grey;
    border-radius: 4px;
    height: 100px;
    box-sizing: border-box;
    resize: none;
    display: block;
    width: 430px;
    color: black;
    background-color: white;
   font-size: 16px;
   padding: 6px 8px;
    margin-bottom: 10px;
 }

 .beer-form-name {
   display: block;
   width: 96%;
 }

 .form-brewery-div {
    display: flex;
 }

 .form-brewery-select-div {
   position: relative;
   display: block;
 }

 .form-brewery-div select {
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  padding: 7px;
  background-color: white;
   width: 430px;
//   width: 300px;
 }

 .form-brewery-select-div:after {
   content: "▼";
   position: absolute;
   top: 3px;
   right: 8px;
   bottom: 0;
   font-size: 0.8em;
   line-height: 30px;
   color: $beer-yellow;
   pointer-events: none;
 }

 .form-abv-style-div {
    display: flex;
    justify-content: space-between;
 }

 .beer-form-abv-div {
   width: 30%;
 }

 .beer-form-abv {
    display: block;
   width: 50px;
 }

 .select-div {
   position: relative;
   display: block;
 }

 #beerStyleSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  padding: 7px;
  background-color: white;
  width: 340px;
 }

 
 .select-div:after {
   content: "▼";
   position: absolute;
   top: 3px;
   right: 8px;
   bottom: 0;
   font-size: 0.8em;
   line-height: 30px;
   color: $beer-yellow;
   pointer-events: none;
 }

 .beer-form-submit {
    border: 0;
    background-color: $beer-yellow;
    color: white;
    align-content: center;
    text-align: center;
    text-transform: capitalize;
    font-family: $main-font;
    width: 430px;
    height: 40px;
    font-weight: 600;
    margin-top: 10px;
 }

 .error-ul {
   font-family: $main-font;
 }

 .beer-form-edit-photo-container {

 }

 .beer-form-photo-input {
    // opacity: 0;
    cursor: pointer
 }

 .beer-form-photo-div {
   
 }

 .beer-photo-label {
   border: 1px dashed $cc-grey;
    border-radius: 4px;
   cursor: pointer;
   display: flex;
   padding: 10px;
   align-items: center;
   margin-bottom: 10px;
 }

 .beer-photo-label input[type="file"] {
    position:absolute;
    display: none;
}

 .beer-photo-add-btn {
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 2px solid $cc-grey;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
    color: $cc-grey;
 }

 .beer-photo-add-text {
   margin-left: 5px;
   display: inline-block;
   color: $beer-dtl-grey;
   font-family: $main-font;
   text-transform: none;
   font-size: 15px;
 }