 @import "../base/colors.scss";
 @import "../base/fonts.scss";

.beer-show-outer {
    margin-top: 30px;
}

.beer-details-show {
    font-family: $main-font;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
    padding-left: 5px;
    max-width: 74%;
    width: 74%;
    min-height: 100px;
}

.beer-details-show p {
    display: block;
    width: 300px;
    box-sizing: border-box;
    padding: 2px;
    margin: 2px;
}


.beer-title-show {
    font-size: 32px;
    font-weight: 400;
}

.beer-brewery-show {
    color: $beer-orange;
    font-size: 20px;
}

.beer-type-show {
    color: $beer-grey;
    font-size: 16px;
}

.beer-show-desc-box {
    display: flex;
    // justify-content: center;
    background-color: white;
    width: 680px;
    padding-left: 20px;
    align-self: center;
    justify-content: space-between;
}

.beer-show-desc {
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 25px;
    padding: 2px;
    font-family: $main-font;
    color: $beer-dtl-grey;
    font-size: 15px;
}

.beer-show-desc-index {
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 5px;
    padding: 2px;
    font-family: $main-font;
    color: $beer-dtl-grey;
    font-size: 15px;
}
// .beer-show-desc-left {
//     margin-left: 20px;
// }

.beer-desc-read {
    color: $beer-orange;
}

.beer-desc-read:hover {
    color: $beer-light-orange;
    cursor: pointer;
}

.beer-show-line-outer {
    width: 700px;
    background-color: white;
    align-self: center;
    justify-content: center;
    display: flex;
}

.beer-show-line {
    background-color: white;
    width: 650px;
    border-bottom: 1px solid $border-other-grey;
    display: inline-block;
}

.beer-show-edit {
    width: 700px;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    font-family: $main-font;
    align-self: center;
    box-sizing: border-box;

    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1)
}

.beer-show-edit-link {
    color: $beer-orange;
    padding: 10px;
}

.delete-beer {
    color: $beer-orange;
    padding: 10px;
}

.delete-beer:hover {
    cursor: pointer;
}