 @import "../base/colors.scss";
 @import "../base/fonts.scss";

.checkin-index-outer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1)
}

.checkin-index-container {
    display: flex;
    width: 700px;
    background-color: white;
    justify-content: center;
    flex-direction: column;
}

.checkin-title-div {
    font-family: $main-font;
    width: 650px;
    padding-top: 10px;
    border-bottom: 1px solid $border-light-grey;
    display: block;
    margin-left: 25px;
}

.checkin-title-p {
    display: block;
    font-size: 22px;
    padding-bottom: 5px;
    font-weight: 900;
}

.checkin-index-ul {

}

.checkin-li {
    display: flex;
    justify-content: center;
}
.checkin-index-item-div {
    font-family: $main-font;
    width: 650px;
    padding-top: 10px;
    // padding-left: 10px;
    // margin-bottom: 25px;
    border-bottom: 1px solid $border-light-grey;
    display: flex;
    justify-content: center
}

.checkin-user-icon {
    display: inline-block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.fa-user-circle {
    font-size: 50px;
    color: $beer-dtl-grey;
}

.checkin-index-item-inner {
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
    margin: 5px;
    margin-bottom: 40px;
}

.checkin-beer-icon {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    margin: 5px;
}

.checkin-beer-img {

}

.beer-checkin-photo {

}

.checkin-item-p {
    font-size: 18px;
}

.checkin-item-link {
    color: $beer-orange;
}

.checkin-item-link:hover {
    color: $beer-light-orange;
}

.checkin-desc-box {
    border: 1px solid $light-grey;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 90%;
    font-size: 19px;
}

.checkin-desc-box:before {
    // border-color: rgba(248,248,248.0);
    // border-bottom-color: $light-grey;
    // border-width: 14px;
    // margin-left: -14px;
    
    // bottom: 100%;
    // left: 24px;
    // border: solid transparent;
    // content: " ";
    // height: 0;
    // width: 0;
    // position: absolute;
    // pointer-events: none;
}

.checkin-beer-rating-box {
    color: $beer-dtl-grey;
    padding-top: 15px;
    padding-bottom: 15px;
}

.checkin-photo-box {
    // border: 1px solid $light-grey;
    // padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 90%;
    font-size: 19px;
}


.checkin-img-photo {

}

.checkin-bottom-box {
    display: block;
    color: $beer-orange;
    font-size: 12px;
}

.checkin-bottom-date {
    display: inline-block;
    color: $time-grey;
}

.checkin-extra-detail-link {
    display: inline-block;
    margin-left: 50px;
}