 @import "../base/colors.scss";
 @import "../base/fonts.scss";

.navbar {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $beer-yellow;
    color: white;
    text-align: center;
    height: 60px;
}

.nav-logo {
    font-size: 32px;
    margin: 10px;
    margin-left: 100px;
    font-family: $raleway-font;
}

.navbar h2 {

}

.navbar h4 {
    margin-left: auto;
}

.nav-button {
   font-size: 14px;
   padding: 2px;
   margin: 10px;
   margin-right: 100px;
}

.nav-button:hover {
    color: $beer-grey;
}

.nav-pub {
    color: white;
    font-family: $main-font;
    margin: 10px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 300;
}

// .nav-pub:hover {
//   color: $border-light-grey;
// }

// .nav-beers:hover {
//   color: $border-light-grey;
// }

.nav-beers {
    color: white;
    font-family: $main-font;
    margin: 10px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 300;
}

.top-user-circle {
  height: 38px;
  min-width: 38px;
  font-size: 38px;
  background-color: white;
  border-radius: 18px;

}

.dropdown-outer {
  // float: right;
  flex-grow: 2;
}

.dropdown {
  float: right;
  // overflow: hidden;
  // flex-grow: 2;
  width: 30px;
  // margin: 20px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  // padding: 14px 16px;
  // background-color: inherit;
  font-family: inherit;
  margin-right: 8px;
  border-radius: 16px;
  float: right;
  min-width: 38px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: $dark-grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
  right: 160px;
  top: 49px;
}

.dropdown-link {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid $beer-dtl-grey;
}

.dropdown-link:hover {
  background-color: $beer-dtl-dark-grey;
}

.dropdown-content .dropdown-link:hover {
//   background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.searchbar-input-container {
  display: flex;
  max-width: 230px;
  min-width: 230px;
  border-radius: 4px;
  background-color: white;
  max-height: 25px;
  min-height: 25px;
  text-align: left;
  padding: 5px;
  margin-right: 20px;
  justify-content: space-between;
}

.searchbar-input {
  display: inline-block;
  color: black;
  margin-left: 5px;
}

.search-bar-magnifier {
  display: inline-block;
  color: grey;
  // margin-right: 10px;
  
}

.search-magnify {
  margin-right: -20px;
}

.fa-search {
  margin-top: 3px;
  margin-left: 10px;
  color: $cc-grey;
  font-size: 18px;
}

.searchbar-ul {
  // border: 1px solid $border-light-grey
  position: absolute;
  top: 46px;
  right: 20px;
  width: 240px;
}

.searchbar-item-li {
  background-color: white;
  color: black;
  padding: 10px;

}

.searchbar-item-li:hover {
  cursor: pointer;
  background-color: $cc-grey;
}

.searchbar-item-p {
  width: 240px;
}



// .searchbar-dropdown {
//   float: left;
//   overflow: hidden;
// }

// .searchbar-dropdown .searchbar-ul {
//   font-size: 16px;  
//   border: none;
//   outline: none;
//   color: white;
//   padding: 14px 16px;
//   background-color: inherit;
//   font-family: inherit;
//   margin-right: 40px;
// }

// .searchbar-ul {

// }
// .searchbar-item-li {
//    display: none;
//   position: absolute;
//   background-color: $dark-grey;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
//   color: white;
// }

// .searchbar-item-p {
//   float: none;
//   color: white;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
//   text-align: left;
//   cursor: pointer;
//   border-bottom: 1px solid $beer-dtl-grey;
// }