 @import "../base/colors.scss";
 @import "../base/fonts.scss";

.outer-background {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), image-url("beers_bg_1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

.outer-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // overflow: auto;
}

.session-form-container {
   background-color: white;
   width: 350px;
   display: flex;
   justify-content: center;
    margin-top: 5%;
}

.session-form-container-signup {
    background-color: white;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.session-form {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    color: $beer-grey;

}

.form-logo {
    font-size: 40px;
    text-transform: uppercase;
    padding: 5px;
    margin-top: 10px;
    color: $dark-grey;
    font-family: $raleway-font;
}

// .session-form label {
//     display: block;
//     margin: 5px;
//     border-radius: 3px;
//     padding: 2px;
//     font-weight: 900;
// }

// .input-sides {
//     display: flex;
//     width: 600px;
//     flex-direction: row;
//     justify-content: space-evenly;
// }

.input-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
    height: 30px;
    margin: 5px;
}

// .hidden-input-box {
//     display: flex;
//     background-color: #fff;
//     width: 250px;
//     height: 30px;
//     margin: 5px;
//     border: 1px solid #fff;
//     border-radius: 3px;
// }

.session-submit-btn {
    margin: 20px 10px 10px 10px;
    padding: 10px;
    background-color: $beer-yellow;
    border-radius: 3px;
    text-transform: capitalize;
    color: white;
    width: 230px;
    text-align: center;
    font-weight: 800;
}

.session-submit-btn:hover {
    background-color: $dark-yellow;
}

.input-box i {
    padding: 10px;
    margin-left: 2px;
    opacity: 0.5; 
}

.input-box p {
    border-left: 1px solid lightgray;
    height: 22px;
    width: 210px;
    display: flex;
    align-items: center;
}

.session-form-input {
    display: block;
    margin: 2px;
    padding: 2px;
    padding-left: 4px;
    width: 200px;
    height: 22px;
    // background: rgba(0,0,0,.1);
}

.session-form-input-n {
    display: block;
    margin: 2px;
    padding: 2px;
    padding-left: 4px;
    width: 230px;
    height: 22px;
    // background: rgba(0,0,0,.1);
}


.session-form input:focus {
  background: rgba(0,0,0,.1);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}


.error-container {
    color: white;
    background-color: $error-red;
    // text-transform: capitalize;
    min-height: 50px;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;
}

.error-container-s {
    color: white;
    background-color: $error-pink;
    // text-transform: capitalize;
    min-height: 50px;
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;
}


.signup-from-login-outer {
    text-align: center;
    width: 350px;
    background: white;
}

.signup-from-login-outer-s {
    text-align: center;
    width: 350px;
    background: white;
    align-content: center;
}

.signup-from-login {
    font-family: 'Roboto', sans-serif;
    padding: 15px 10px 20px 10px;
    font-size: 18px;
    color: $beer-grey;
    justify-content: center;
    font-weight: 800;
}

.signup-login-link {
    color: $beer-orange; 
}

.signup-login-link:hover {
    color: $dark-yellow; 
}

.demo-login-btn {
    margin: 0px 10px 10px 10px;
    padding: 10px;
    background-color: $beer-yellow;
    border-radius: 3px;
    text-transform: capitalize;
    color: white;
    width: 230px;
    text-align: center;
    font-weight: 800;
}

.demo-login-btn:hover {
    background-color: $dark-yellow;
}

.login-hr {
    width: 250px;
    height: 1px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
    // margin-left: auto;
    // margin-right: auto;
}

.field-text {
    font-size: 14px;
    font-weight: 900;
    padding: 10px;
    margin-bottom: 5px;
}

.password-text {
    font-size:14px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 2px;
    color: black;
}
.space-div {
    margin: 10px;
}
