 @import "../base/colors.scss";
 @import "../base/fonts.scss";

.outer-form {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), image-url("beers_bg_1.jpg");
    background-size:100% 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.session-form-container {
   background-color: white;
   width: 350px;
   display: flex;
   justify-content: center;
}

.session-form {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    color: $beer-grey;

}

.form-logo {
    font-size: 40px;
    text-transform: uppercase;
    padding: 5px;
    margin-top: 10px;
    color: $dark-grey;
    font-family: $raleway-font;
}

.session-form label {
    display: block;
    margin: 5px;
    border-radius: 3px;
    padding: 2px;
    font-weight: 900;
}

.session-submit-btn {
    margin: 20px 10px 10px 10px;
    padding: 10px;
    background-color: $beer-yellow;
    border-radius: 3px;
    text-transform: capitalize;
    color: white;
    width: 100px;
    text-align: center;
}

.session-submit-btn:hover {
    background-color: $dark-yellow;
}

.session-form-input {
    display: block;
    margin: 2px;
    border-radius: 3px;
    padding: 2px;
    // background: rgba(0,0,0,.1);
    border: 1px solid lightgrey;
    width: 250px;
}


.session-form input:focus {
  background: rgba(0,0,0,.1);
}


.error-container {
    padding: 5px;
    color: $error-red;
    text-transform: capitalize;
}

.signup-from-login-outer {
    text-align: center
}

.signup-from-login {
    background: white;
    font-family: 'Roboto', sans-serif;
    padding: 20px 10px 20px 10px;
    width: 330px;
    color: $beer-grey;
    justify-content: center;
}

.signup-login-link {
    color: $beer-orange; 
}

.signup-login-link:hover {
    color: $dark-yellow; 
}

.demo-login-btn {
    margin: 0px 10px 10px 10px;
    padding: 10px;
    background-color: $beer-yellow;
    border-radius: 3px;
    text-transform: capitalize;
    color: white;
    width: 100px;
    text-align: center;
}

.demo-login-btn:hover {
    background-color: $dark-yellow;
}