@import "utilities/variables";

.navbar {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $beer-yellow;
    color: white;
    text-align: center;
    height: 60px;
}

.nav-logo {
    font-size: 32px;
    margin: 10px;
    margin-left: 100px;
    font-family: $raleway-font;
}

.navbar h2 {

}

.navbar h4 {
    margin-left: auto;
}

.nav-button {
   font-size: 14px;
   padding: 2px;
   margin: 10px;
   margin-right: 100px;
}

.nav-button:hover {
    color: $beer-grey;
}