@import "utilities/variables";

.splash-container {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("beers_bg.jpg");
    background-size:100% 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.splash-nav {
    // margin-bottom: 0 auto;
    // margin-left: 0 auto;
    position:relative; 
    right: -470px;
    top: -255px;
    height: 50px;
    
}

.splash-link {
    color: white;
    border: 2px solid white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 10px;
    padding: 12px;
    border-radius: 4px;
}